annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
click @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_click_1764518652/work
fastapi==0.128.0
h11 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h11_1767729720/work
idna==3.11
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1769093650/work
pydantic==2.12.5
pydantic_core==2.41.5
python-multipart==0.0.22
starlette==0.50.0
typing-inspection==0.4.2
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
uvicorn @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_uvicorn_1766332899/work
